* {
  margin: 0;
  padding: 0;
}

body {
	color: #222;
	background: #ffffff;
	font: 400 105% "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

input {
	padding: 0.7em;
	border-radius: 5px;
	border: 1px solid #dddddd;
	margin-right: 0.5em;
}

button {
	padding: 0.7em;
	border-radius: 5px;
	background: #666;
	color: #ffffff;
	cursor: pointer;
	border: 2px solid #555;
}

button:hover {
  color: #222;
}

a{
	text-decoration: none;
}
